<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/Public/home.html"><span>Melodify.</span></a>
        <div class="container1">
        </div>
    </nav>

    <div class="container">
        <h1>Welcome to <span>Melodify</span> </h1>
        <p>
            Explore curated playlists and diverse genres
            with ease. Immerse yourself in a world of captivating melodies.</p>
        <div class="buttons">
            <button id="loginBtn">Login</button>
            <button id="signupBtn">Sign Up</button>
        </div>
        <div class="forms">
            <form id="loginForm" class="hidden">
                <input type="email" placeholder="Email Address">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <form id="signupForm" class="hidden">
                <!-- Signup form fields go here -->
            </form>
        </div>
    </div>
    <footer>
        <p>All-Rights Reserved UsmanXRazzaq</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>