<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs') %>


            <div class="container">
                <h1>Login to <span> Melodify</span></h1>
                <form id="loginForm" action="/login" method="POST">
                    <input type="email" placeholder="Email Address" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <button type="submit">Login</button>
                </form>
            </div>


            <!-- <div class="container">
        <h1>Welcome to <span>Melodify</span> </h1>
        <p>
            Explore curated playlists and diverse genres
            with ease. Immerse yourself in a world of captivating melodies.</p>
        <div class="buttons">
            <button id="loginBtn">Login</button>
            <button id="signupBtn">Sign Up</button>
        </div>
        <div class="forms">
            <form id="loginForm" class="hidden">
                <input type="email" placeholder="Email Address">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <form id="signupForm" class="hidden">
                <!-- Signup form fields go here -->
            </form>
            </div>
            </div> -->
            <%- include('./partials/footer.ejs')%>

                <script src="/script.js"></script>
    </body>

</html>