<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <h1>Sign Up for <span>Melodify</span></h1>
      <form id="signupForm" action="/login" method="POST">
        <input type="text" name="fullName" placeholder="Full Name" />
        <input type="email" name="email" placeholder="Email Address" />
        <input
          type="email"
          name="confirmEmail"
          placeholder="Confirm Email Address"
        />
        <input type="tel" name="phoneNumber" placeholder="Phone Number" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
      </form>
    </div>

    <%- include('./partials/footer.ejs')%>

    <script src="script.js"></script>
  </body>
</html>
